{%- comment -%}
  Renders the checkout button and payment icons if enabled

  Accepts:
  - block {block} - Block object
  - taxes_included {boolean} - Checkout message changes based on whether taxes are included

  Usage:
  {% render 'block-cart-checkout-button', block: block %}
{%- endcomment -%}

{% render 'stylesheet', name: 'block-cart-checkout-button.component.css' %}

{% liquid
  assign taxes_included = taxes_included | default: cart.taxes_included, allow_false: true
%}

<div class="cart-checkout-button" {{ block.shopify_attributes }}>
  <div class="cart-checkout-button__shipping-copy">
    {%- if taxes_included -%}
      {% render 't-with-fallback',
        key: 'info.shipping_at_checkout_taxes_included',
        fallback: 'Taxes included. Shipping and discount codes calculated at checkout'
      %}
    {%- else -%}
      {% render 't-with-fallback',
        key: 'info.shipping_at_checkout',
        fallback: 'Shipping, taxes, and discount codes calculated at checkout.'
      %}
    {%- endif -%}
  </div>

  <button type="submit" name="checkout" class="button">
    {% render 't-with-fallback', key: 'actions.checkout', fallback: 'Check out' %}
  </button>

  {%- if shop.enabled_currencies.size > 0 -%}
    <div class="cart-checkout-button__payment-types">
      {%- for type in shop.enabled_payment_types -%}
        {{- type | payment_type_svg_tag -}}
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>
