{%- comment -%}
  Renders the total price of the cart

  Accepts:
  - hydration {'on:visible'|'on:idle'|'on:interaction'|'on:media'} - Hydration strategy
{%- endcomment -%}

{% liquid
  assign hydration = hydration | default: 'on:visible'
%}

<div class="cart-totals" {{ block.shopify_attributes }}>
  <span>{{ 'labels.total' | t }}</span>

  <is-land {{ hydration }}>
    <cart-total-price class="cart-totals__price">
      {{- cart.total_price | money -}}
    </cart-total-price>

    <template data-island>
      <script type="module">
        import 'components/block-cart-totals'
      </script>
    </template>
  </is-land>
</div>
