{%- comment -%}
  Renders the cart icon

  Accepts:
  - name {string} - The name of the icon to render. Defaults to 'cart'

  Usage:
  {% render 'icon', name: 'bag' %}
{%- endcomment -%}

{% render 'stylesheet', name: 'component.cart-icon.css' %}

{%- liquid
  if section.settings.cart_icon != blank
    assign name = section.settings.cart_icon
  else
    assign name = name | default: 'cart'
  endif
-%}

<is-land on:idle>
  <a href="{{ routes.cart_url }}" class="cart-icon">
    {%- render 'icon', name: name -%}

    <div class="cart-count">
      <cart-count
        class="cart-count__text"
        aria-hidden="true"
        {% if cart.item_count == 0 %}
          hidden
        {% endif %}
      >
        {{- cart.item_count -}}
      </cart-count>
    </div>
  </a>

  <template data-island>
    <script type="module">
      import 'component.cart-icon'
    </script>
  </template>
</is-land>
