{%- comment -%}
  Renders the cart status errors

  Accepts:
  - hydration {'on:visible'|'on:idle'|'on:interaction'|'on:media'} - Hydration strategy

  Usage:
  {% render 'cart-status-notifier' %}
{%- endcomment -%}

{% render 'stylesheet', name: 'cart-status-notifier.component.css' %}

{%- liquid
  assign hydration = hydration | default: 'on:visible'
-%}

<is-land {{ hydration }}>
  <cart-status-notifier class="status" hidden>
    {%- render 'icon', name: 'alert' -%}
    <span></span>
  </cart-status-notifier>

  <template data-island>
    <script type="module">
      import 'cart-status-notifier.component'
    </script>
  </template>
</is-land>
