{%- comment -%}
  Renders a line item for the cart page

  Accepts:
  - line_item {line_item} - Line item object

  Usage:
  {%- for line_item in cart.items -%}
    {%- render 'line-item', line_item: line_item -%}
  {%- endfor -%}
{%- endcomment -%}

{% render 'stylesheet', name: 'line-item.component.css' %}

<div class="line-item">
  {%- liquid
    assign loading = 'lazy'

    if section.index == 1 and line_item.index == 0
      assign loading = 'eager'
    endif

    if line_item.image != blank
      echo line_item.image | image_url: width: line_item.image.width | image_tag: loading: loading, sizes: '100px', widths: '100, 200', class: 'line-item__image'
    endif
  -%}

  <div class="line-item__info">
    <a href="{{ line_item.url }}" class="line-item__title">
      {{ line_item.product.title | default: line_item.title }}
    </a>

    <div class="line-item__price">
      {%- render 'price', price: line_item.final_price -%}
    </div>

    {%- unless line_item.product.has_only_default_variant or line_item.gift_card -%}
      <div class="line-item__variants">
        {%- for option in line_item.options_with_values -%}
          <div>{{ option.name }}: {{ option.value }}</div>
        {%- endfor -%}
      </div>
    {%- endunless -%}

    <div class="line-item__quantity">
      {%- render 'line-item-quantity', line_item: line_item -%}
    </div>
  </div>
</div>
