{%- comment %}
  Renders product media

  Accepts:
  - media {media} - Media object
  - preload {boolean} - Whether or not to preload the image
  - sizes {string} - Sizes attribute for the image tag

  Usage:
  {% render 'media', media: media, preload: true %}
{%- endcomment %}

<div class="media">
  {%- liquid
    case media.media_type
      when 'image'
        render 'block-image', image: media, preload: preload, sizes: sizes
      when 'video'
        render 'block-video', video: media
      when 'external_video'
        render 'block-video', external_video: media
      when 'model'
        render 'block-model', model: media
    endcase
  -%}
</div>
