{% comment %}
  Renders the product description

  Accepts:
  - product {product} - Product object

  Usage:
  {% render 'product-description' %}
{% endcomment %}

{%- liquid
  capture description
    render 't-with-fallback', key: 'info.placeholder_product_description', fallback: 'This area is used to describe your product’s details. Tell customers about the look, feel, and style of your product. Add details on color, materials used, sizing, and where it was made.'
  endcapture

  unless product.empty?
    assign description = product.description
  endunless
-%}

<div class="rte clearfix">
  {{- description -}}
</div>
