{%- comment -%}
  Renders a product media gallery

  Accepts:
  - product {product} - The product object

  Usage:
  {% render 'product-media-gallery' %}
{%- endcomment -%}

{%- liquid
  assign default_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign sizes = '(min-width: 48em) 60vw, 90vw'
-%}

<product-media-gallery class="product-media-gallery">
  {%- for media in product.media -%}
    <div class="product-media-gallery__item" data-section-id="{{ section.id}}" data-media-id="{{ media.id }}">
      <div class="media">
        {%- liquid
          assign preload = false

          if default_media == media
            assign preload = true
          endif

          case media.media_type
            when 'image'
              render 'block-image', image: media, preload: preload, sizes: sizes
            when 'video'
              render 'block-video', video: media, autoplay: true
            when 'external_video'
              render 'block-video', external_video: media, autoplay: true
            when 'model'
              render 'block-model', model: media, autoplay: true
          endcase
        -%}
      </div>
    </div>
  {%- endfor -%}
</product-media-gallery>

<script type="module">
  import 'components/product-media-gallery'
</script>
