{%- comment -%}
  Main cart section

  Accepts:
  - slot {string} - Slot for block content

  Usage:
  {% liquid
    capture blocks
      for block in section.blocks
        case block.type
          when '@app'
            render block
          when 'totals'
            render 'block-cart-totals', block: block
          when 'note'
            render 'block-cart-note', block: block
          when 'checkout_button'
            render 'block-cart-checkout-button', block: block
        endcase
      endfor
    endcapture

    render 'section-main-cart', slot: blocks
  %}
{%- endcomment -%}

{% render 'stylesheet', name: 'section-main-cart.component.css' %}

{%- liquid
  assign color_scheme = color_scheme | default: section.settings.color_scheme | default: 'scheme-1'
-%}

<section data-color-scheme="{{ color_scheme }}">
  <div class="page-width">
    {%- if cart.item_count == 0 -%}
      <div class="page-empty page-padding">
        <h1 class="text-3xl">
          {% render 't-with-fallback', key: 'labels.cart', fallback: 'Cart' -%}
        </h1>
        {% render 't-with-fallback', key: 'info.cart_empty', fallback: 'Your cart is currently empty.' %}

        <a href="{{ routes.root_url }}" class="button">
          {% render 't-with-fallback', key: 'actions.continue_shopping', fallback: 'Continue shopping' -%}
        </a>
      </div>
    {%- else -%}
      <div class="page-padding text-center">
        <h1 class="text-3xl">
          {% render 't-with-fallback', key: 'labels.cart', fallback: 'Cart' -%}
        </h1>
      </div>

      <div class="main-cart">
        <table>
          <thead>
            <tr>
              <th>{% render 't-with-fallback', key: 'labels.product', fallback: 'Product' %}</th>
              <th>{% render 't-with-fallback', key: 'labels.quantity', fallback: 'Quantity' %}</th>
              <th>{% render 't-with-fallback', key: 'labels.total', fallback: 'Total' %}</th>
            </tr>
          </thead>

          <tbody>
            {%- for line_item in cart.items -%}
              <tr>
                <td>{%- render 'line-item', line_item: line_item -%}</td>
                <td>{%- render 'line-item-quantity', line_item: line_item -%}</td>
                <td>{%- render 'line-item-price', line_item: line_item -%}</td>
              </tr>
            {%- endfor -%}
          </tbody>
        </table>

        <div class="cart-blocks">
          {%- render 'cart-status-notifier' -%}

          <form action="{{ routes.cart_url }}" method="POST" class="cart-blocks__form">
            {{- slot -}}
          </form>
        </div>
      </div>
    {%- endif -%}
  </div>
</section>
