html {
  touch-action: manipulation;
}

html[dir='rtl'] {
  direction: rtl;
}

html,
body {
  background-color: rgb(243 243 243);
  color: rgb(18 18 18);
  line-height: 1.4;
}

[hidden] {
  display: none;
}
