@import '../../styles/modules/button.css';

.rich-text {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-5);
}

.rich-text > * {
  margin-bottom: 0;
}

.rich-text__subheading {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.rich-text__text {
  font-size: clamp(0.875rem, 0.2692rem + 6.1538vw, 1.25rem);
  line-height: clamp(22px, 0.2692rem + 6.1538vw, 32px);
}

.rich-text__text p {
  margin-top: 0;

  @media (--small) {
    font-size: var(--size-3-5);
  }
}
