@import '../../styles/vendor/normalize.css';
@import '../../styles/layout/breakpoints.css';
@import '../../styles/base.css';

.product-media-gallery {
  display: grid;
  grid-auto-flow: column;
  gap: var(--size-4);
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  padding-left: var(--page-width-padding);
  padding-right: var(--page-width-padding);
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--page-width-padding);
  scroll-padding-right: var(--page-width-padding);
  scroll-behavior: smooth;

  @media (--medium-up) {
    grid-auto-flow: row;
    padding-left: 0;
    padding-right: 0;
  }
}

.product-media-gallery__item {
  width: calc(100vw - 3rem);
  aspect-ratio: 1 / 1;
  scroll-snap-align: center;
  overflow: clip;

  @media (--medium-up) {
    width: 100%;
  }
}
