{%- comment -%}
  Renders a product media gallery

  Accepts:
  - product {product} - The product object

  Usage:
  {% render 'product-media-gallery' %}
{%- endcomment -%}

{%- liquid
  assign default_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media
  assign sizes = '(min-width: 48em) 60vw, 90vw'
-%}

<product-media-gallery class="product-media-gallery">
  {%- for media in product.media -%}
    <div class="product-media-gallery__item">
      {%- liquid
        assign preload = false

        if default_media == media
          assign preload = true
        endif

        render 'media', media: media, sizes: sizes, preload: preload
      -%}
    </div>
  {%- endfor -%}
</product-media-gallery>
