@import '../../styles/helpers/typography.css';

.block-title__heading {
  &.h2 {
    margin-bottom: var(--size-2);
    font-size: 24px;

    @media (--medium-up) {
      font-size: 32px;
    }
  }
}

.block-title__sku,
.block-title__vendor {
  display: inline-block;
  margin-right: var(--size-5);
}
