@import '../../styles/vendor/normalize.css';
@import '../../styles/layout/breakpoints.css';
@import '../../styles/layout/page-width.css';

.main-product {
  display: grid;
  width: 100%;
  gap: var(--size-8);

  @media (--medium-up) {
    gap: var(--size-10);
    grid-template-columns: 60% 1fr;
    padding-top: var(--size-16);
  }

  &[data-image-position='right'] {
    @media (--medium-up) {
      grid-template-columns: 1fr 60%;
    }
  }
}

.main-product__media-gallery {
  display: grid;
  width: 100%;
}

.main-product__info {
  padding: 0 var(--page-width-padding);
  display: flex;
  flex-direction: column;
  gap: var(--size-6);

  @media (--medium-up) {
    padding: var(--size-12) 0 0 0;
    gap: var(--size-8);
  }

  [data-image-position='right'] & {
    order: -1;
  }
}
