@import '../../styles/vendor/normalize.css';
@import '../../styles/layout/breakpoints.css';
@import '../../styles/helpers/aspect-ratio.css';
@import '../../styles/helpers/placeholder-svg.css';
@import '../../styles/helpers/position.css';
@import '../../styles/modules/model-viewer.css';
@import '../../styles/layout/page-width.css';
@import '../../styles/base.css';

.media-with-text {
  display: flex;
  flex-direction: column;

  @media (--medium-up) {
    display: grid;
    justify-content: space-between;

    &[data-page-width] {
      padding-top: var(--page-width-padding);
      padding-bottom: var(--page-width-padding);
    }
  }
}

.media-with-text[data-media-width='33'],
.media-with-text[data-media-width='66'][data-media-layout='left'] {
  grid-template-columns: 2fr 1fr;
}

.media-with-text[data-media-width='50'] {
  grid-template-columns: 1fr 1fr;
}

.media-with-text[data-media-width='66'],
.media-with-text[data-media-width='33'][data-media-layout='left'] {
  grid-template-columns: 1fr 2fr;
}

.media-with-text:not(.page-width) .media-with-text__media {
  width: 100%;
}

.media-with-text__media {
  @media (--small) {
    .media-with-text[data-media-width='33'].page-width & {
      width: 50%;
    }

    .media-with-text[data-media-width='50'].page-width & {
      width: 75%;
    }
  }
}

.media-with-text__text {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;

  @media (--small) {
    order: 1;

    .media-with-text:has(&[data-text='center']) {
      align-items: center;
    }

    .media-with-text:has(&[data-text='right']) {
      align-items: end;
    }
  }

  @media (--medium-up) {
    padding: 30px 60px;
  }

  [data-media-layout='left'] & {
    order: 1;
  }
}

.media-with-text__media {
  overflow: hidden;

  @media (--small) {
    .media-with-text.page-width & {
      padding-top: 20px;
    }
  }
}
