.main-product {
  display: grid;
  width: 100%;
  gap: var(--size-8);

  @media only screen and (min-width: 769px) {
    gap: var(--size-10);
    grid-template-columns: 60% 1fr;
    padding-top: var(--size-16);
  }

  &[data-image-position='right'] {
    @media only screen and (min-width: 769px) {
      grid-template-columns: 1fr 60%;
    }
  }
}

.main-product__media-gallery {
  display: grid;
  width: 100%;
}

.main-product__info {
  padding: var(--size-7) var(--size-5);
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
  position: sticky;
  top: 0;
  align-self: flex-start;

  @media only screen and (min-width: 769px) {
    padding: var(--size-12) 0 var(--size-10) 0;
    gap: var(--size-8);
  }

  [data-image-position='right'] & {
    order: -1;
  }
}
