.status {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  font-size: 0.75rem;
  color: rgb(255 0 0);
  margin-bottom: var(--size-6);
}

.status .icon {
  width: 1.25rem;
  height: auto;
}
