.cart-checkout-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  gap: var(--size-4);
}

.cart-checkout-button__shipping-copy {
  font-size: 0.75rem;
}

.cart-checkout-button button {
  width: 100%;
  justify-content: center;
}

.cart-checkout-button__payment-types {
  display: flex;
  gap: var(--size-1);
  justify-content: center;
  margin-block-start: var(--size-2);
}
