.button {
  cursor: pointer;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: var(--size-4);
  padding: var(--size-3) var(--size-6);
  border-radius: var(--radius-xs);
}
.block-buy-buttons {
  display: block;
}
.block-buy-buttons .shopify-payment-button {
    margin-top: var(--size-3);
  }
@media only screen and (min-width: 769px) {
.block-buy-buttons .shopify-payment-button {
      margin-top: var(--size-5);
  }
    }
.block-buy-buttons .shopify-payment-button__button {
    font: inherit;
    border-radius: var(--radius-xs);
    overflow: hidden;
    min-height: var(--size-14);
    border-radius: var(--radius-xs);
    background: #141811;
    font-size: var(--size-4);
  }
.block-buy-buttons .shopify-payment-button__button:hover {
      background-color: #000;
    }
.block-buy-buttons__submit {
  background-color: transparent;
  border-radius: var(--radius-xs);
  border: 1px solid #141811;
  color: #141811;
}
.block-buy-buttons__submit.button {
    width: 100%;
    justify-content: center;
  }
.block-buy-buttons__submit[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
.cart-checkout-button {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  gap: var(--size-4);
}
.cart-checkout-button__shipping-copy {
  font-size: 0.75rem;
}
.cart-checkout-button button {
  width: 100%;
  justify-content: center;
}
.cart-checkout-button__payment-types {
  display: flex;
  gap: var(--size-1);
  justify-content: center;
  margin-top: var(--size-2);
}
cart-note {
  display: block;
}
.cart-note {
  width: 100%;
  border: 1px solid rgba(var(--color-foreground) / 0.2);
  padding: var(--size-2);
  resize: vertical;
}
.cart-totals {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: bold;
}
.block-image {
  position: relative;
  height: 100%;
}
.block-image {
  display: block;
  width: 100%;
  height: 100%;
}
.block-image > * {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
model-viewer,
model-media {
  display: block;
  width: 100%;
  height: 100%;
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
body,
input,
textarea,
select {
  font: var(--body-font-style) var(--body-font-weight) var(--text-base) / 1.65 var(--body-font-family);
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp,
pre {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  text-transform: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
sup {
  position: relative;
  top: -0.5em;
  font-size: 60%;
  vertical-align: baseline;
}
.text-xs {
  font-size: var(--text-xs);
}
.text-sm {
  font-size: var(--text-sm);
}
.text-base {
  font-size: var(--text-base);
}
.text-lg {
  font-size: var(--text-lg);
}
.text-xl {
  font-size: var(--text-xl);
}
.text-2xl {
  font-size: var(--text-2xl);
}
.text-3xl {
  font-size: var(--text-3xl);
}
.text-4xl {
  font-size: var(--text-4xl);
}
.text-5xl {
  font-size: var(--text-5xl);
}
.text-6xl {
  font-size: var(--text-6xl);
}
.text-7xl {
  font-size: var(--text-7xl);
}
.text-8xl {
  font-size: var(--text-8xl);
}
.text-9xl {
  font-size: var(--text-9xl);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.rte :where(h1, h2, h3, h4, h5, h6),
.heading {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
}
.h1,
.rte :where(h1) {
  font-size: var(--size-10);
  line-height: 1.1;
}
@media only screen and (min-width: 769px) {
.h1,
.rte :where(h1) {
    font-size: var(--size-16);
}
  }
.h2,
.rte :where(h2) {
  font-size: var(--size-9);
  line-height: 1.1;
}
@media only screen and (min-width: 769px) {
.h2,
.rte :where(h2) {
    font-size: var(--size-14);
}
  }
.h3,
.rte :where(h3) {
  font-size: var(--size-8);
  line-height: 1.2;
}
@media only screen and (min-width: 769px) {
.h3,
.rte :where(h3) {
    font-size: var(--size-12);
}
  }
.h4,
.rte :where(h4) {
  font-size: var(--size-7);
  line-height: 1.3;
}
@media only screen and (min-width: 769px) {
.h4,
.rte :where(h4) {
    font-size: var(--size-11);
}
  }
.h5,
.rte :where(h5) {
  font-size: var(--size-8);
  line-height: 1.4;
}
@media only screen and (min-width: 769px) {
.h5,
.rte :where(h5) {
    font-size: var(--size-10);
}
  }
.h6,
.rte :where(h6) {
  font-size: var(--size-7);
  line-height: 1.4;
}
@media only screen and (min-width: 769px) {
.h6,
.rte :where(h6) {
    font-size: var(--size-9);
}
  }
.block-price {
  display: grid;
  gap: var(--size-2);
}
.block-price__label {
  font-size: var(--size-3-5);
}
[data-on-sale] .block-price__regular {
    display: none;
  }
.block-price__save {
  display: none;
}
[data-on-sale] .block-price__save {
    display: block;
  }
.block-price__sale {
  display: none;
}
[data-on-sale] .block-price__sale {
    display: flex;
    gap: var(--size-2);
  }
.block-price__unit-price {
  display: none;
}
[data-unit-price] .block-price__unit-price {
    display: block;
  }
.block-price__container {
  display: flex;
  gap: var(--size-2);
  margin: 0;
  font-size: var(--size-5);
}
.rich-text {
  display: flex;
  flex-direction: column;
  row-gap: var(--size-5);
}
.rich-text > * {
  margin-bottom: 0;
}
.rich-text__subheading {
  font-size: var(--size-3-5);
  text-transform: uppercase;
}
.rich-text__text {
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
.rich-text__text {
    font-size: var(--size-3-5);
}
  }
.rich-text__text p {
  margin-top: 0;
}
@media only screen and (max-width: 768px) {
.rich-text__text p {
    font-size: var(--size-3-5);
}
  }
.block-title__heading.h2 {
    margin-bottom: var(--size-2);
    font-size: var(--size-6);
  }
@media only screen and (min-width: 769px) {
.block-title__heading.h2 {
      font-size: var(--size-8);
  }
    }
.block-title__sku,
.block-title__vendor {
  display: inline-block;
  margin-right: var(--size-5);
  font-size: var(--size-3-5);
}
.block-variant-picker {
  display: grid;
  gap: var(--size-6);
}
.block-video {
  position: relative;
  height: 100%;
  width: 100%;
}
video-media {
  display: block;
  width: 100%;
  height: 100%;
}
video-media video,
video-media iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
cart-count {
  display: block;
}
.cart-icon {
  display: block;
  position: relative;
  width: var(--size-6-5);
  height: var(--size-6-5);
}
.cart-count {
  position: absolute;
  left: 1.1rem;
  top: calc(-1 * var(--size-1));
}
.cart-count__text {
  display: grid;
  place-items: center;
  min-width: -webkit-min-content;
  min-width: min-content;
  width: var(--size-4);
  height: var(--size-4);
  font-size: 0.6875rem;
  font-weight: bold;
  color: rgb(var(--color-background));
  background-color: rgb(var(--color-foreground));
  border-radius: var(--radius-rounded);
  padding-left: var(--size-1);
  padding-right: var(--size-1);
  line-height: 1;
}
.status {
  display: flex;
  gap: var(--size-2);
  align-items: center;
  font-size: 0.75rem;
  color: rgb(255 0 0);
  margin-bottom: var(--size-6);
}
.status .icon {
  width: 1.25rem;
  height: auto;
}
x-icon {
  display: flex;
}
.line-item__image {
  position: relative;
  width: 100px;
  height: auto;
}
.line-item {
  display: flex;
  gap: var(--size-8);
  align-items: start;
}
@media only screen and (min-width: 769px) {
.line-item {
    align-items: center;
}
  }
.line-item__info {
  display: grid;
  justify-items: start;
}
.line-item__title {
  font-size: var(--size-4);
}
.line-item__variants {
  margin-top: var(--size-3);
  font-size: 0.75rem;
}
.line-item__quantity {
  margin-top: var(--size-5);
}
@media only screen and (min-width: 769px) {
.line-item__quantity {
    display: none;
}
  }
.line-item-quantity {
  display: grid;
  justify-content: safe center;
  gap: var(--size-2);
  width: 0;
}
@media only screen and (max-width: 768px) {
    .line-item__quantity .line-item-quantity {
      display: flex;
      gap: var(--size-3);
      align-items: center;
    }
  }
.line-item-quantity input {
  width: var(--size-12);
  padding-top: var(--size-2);
  padding-bottom: var(--size-2);
  text-align: center;
  font-size: var(--text-xs);
  -webkit-touch-callout: none;
  -webkit-appearance: none;
          appearance: none;
  background: none;
  border-width: 1px;
  outline: none;
}
@media only screen and (max-width: 768px) {
    .line-item__quantity .line-item-quantity input {
      width: var(--size-10);
      padding-top: var(--size-1);
      padding-bottom: var(--size-1);
    }
  }
.line-item-quantity input:disabled {
  opacity: 0.5;
}
.line-item-quantity__remove {
  font-size: 0.75rem;
}
.line-item-quantity__remove:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.rte {
  margin-bottom: calc(var(--gutter) / 4);
}
@media only screen and (min-width: 769px) {
.rte {
    margin-bottom: calc(var(--gutter) / 2);
}
  }
.rte:last-child {
    margin-bottom: 0;
  }
.rte + .rte {
    margin-top: var(--gutter);
  }
.rte p,
  .rte ul,
  .rte ol,
  .rte table {
    margin-bottom: var(--size-3-5);
  }
@media only screen and (min-width: 769px) {
.rte p,
  .rte ul,
  .rte ol,
  .rte table {
      margin-bottom: var(--size-6);
  }
    }
.rte p:last-child, .rte ul:last-child, .rte ol:last-child, .rte table:last-child {
      margin-bottom: 0;
    }
.rte ul ul {
      margin-bottom: 0;
    }
/*Add some top margin to headers from the rich text editor*/
.rte h1,
  .rte h2,
  .rte h3,
  .rte h4,
  .rte h5,
  .rte h6 {
    margin-top: var(--size-14);
    margin-bottom: var(--size-6);
  }
.rte h1:first-child, .rte h2:first-child, .rte h3:first-child, .rte h4:first-child, .rte h5:first-child, .rte h6:first-child {
      margin-top: 0;
    }
.rte h1 a, .rte h2 a, .rte h3 a, .rte h4 a, .rte h5 a, .rte h6 a {
      -webkit-text-decoration: none;
      text-decoration: none;
    }
/*In case merchants paste meta tags into their content by accident*/
.rte meta:first-child + h1,
    .rte meta:first-child + h2,
    .rte meta:first-child + h3,
    .rte meta:first-child + h4,
    .rte meta:first-child + h5,
    .rte meta:first-child + h6 {
      margin-top: 0;
    }
/*Mimic a paragraph tag because they're not always created*/
.rte > div {
    margin-bottom: calc(var(--gutter) / 2);
  }
.rte > div:last-child {
      margin-bottom: 0;
    }
.rte li {
    margin-bottom: 0;
  }
.rte table {
    table-layout: fixed;
  }
.rte--block {
  margin-bottom: var(--size-2);
}
@media only screen and (min-width: 769px) {
.rte--block {
    margin-bottom: var(--size-3);
}
  }
.rte-setting > p:last-child {
    margin-bottom: 0;
  }
.rte a, .rte-setting a {
    -webkit-text-decoration: none;
    text-decoration: none;
  }
.rte img, .rte-setting img {
    height: auto;
    max-width: 100%;
  }
.rte a:not(.rte__image):not(.btn), .rte-setting a:not(.rte__image):not(.btn) {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
.rte a.rte__image:after, .rte-setting a.rte__image:after {
    content: none;
  }
.text-center .rte ul,
  .text-center.rte ul,
  .text-center .rte ol,
  .text-center.rte ol {
    list-style-position: inside;
    margin-left: 0;
  }
.rte--nomargin {
  margin-bottom: 0;
}
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}
*,
input,
:before,
:after {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
html {
  touch-action: manipulation;
}
html[dir='rtl'] {
  direction: rtl;
}
html,
body {
  background-color: rgb(243 243 243);
  color: rgb(18 18 18);
  line-height: 1.4;
}
[hidden] {
  display: none;
}
.product-media-gallery {
  display: grid;
  grid-auto-flow: column;
  gap: var(--size-4);
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  padding-left: var(--page-width-padding);
  padding-right: var(--page-width-padding);
  scroll-snap-type: x mandatory;
  scroll-padding-left: var(--page-width-padding);
  scroll-padding-right: var(--page-width-padding);
  scroll-behavior: smooth;
}
@media only screen and (min-width: 769px) {
.product-media-gallery {
    grid-auto-flow: row;
    padding-left: 0;
    padding-right: 0;
}
  }
.product-media-gallery__item {
  width: calc(100vw - 3rem);
  aspect-ratio: 1 / 1;
  scroll-snap-align: center;
  overflow: clip;
}
@media only screen and (min-width: 769px) {
.product-media-gallery__item {
    width: 100%;
}
  }
.media {
  width: 100%;
  height: 100%;
}
.media__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
[data-color-scheme='scheme-1'] {
  --color-background: var(--color-scheme-1-bg);
  --color-foreground: var(--color-scheme-1-text);

  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}
[data-color-scheme='scheme-2'] {
  --color-background: var(--color-scheme-2-bg);
  --color-foreground: var(--color-scheme-2-text);

  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}
[data-color-scheme='scheme-3'] {
  --color-background: var(--color-scheme-3-bg);
  --color-foreground: var(--color-scheme-3-text);

  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
}
.main-header {
  display: grid;
  column-gap: var(--size-6);
  row-gap: var(--size-4);
  align-items: center;
  padding: var(--size-4) 0;
}
@media only screen and (max-width: 768px) {
.main-header {
    grid-template-areas: 'logo icons' 'menu menu';
    grid-template-columns: auto minmax(0, 1fr);
}
  }
@media only screen and (min-width: 769px) {
.main-header {
    gap: var(--size-12);
    grid-template-areas: 'logo menu icons';
    grid-template-columns: auto minmax(0, 1fr) minmax(0, -webkit-max-content);
    grid-template-columns: auto minmax(0, 1fr) minmax(0, max-content);
}
  }
@media only screen and (min-width: 769px) {
.main-header--logo-left-menu-center {
    grid-template-columns: minmax(0, 1fr) fit-content(50%) minmax(0, 1fr);
}

    .main-header--logo-left-menu-center .main-header__menu {
      justify-content: center;
    }
  }
.main-header h1 {
  margin: 0;
}
.main-header__logo {
  grid-area: logo;
  font-size: 1.5rem;
  font-weight: bold;
}
.main-header__menu {
  grid-area: menu;
  display: inline-flex;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
.main-header__menu {
    margin: 0 calc(-1 * var(--size-3));
}
  }
.main-header__menu-link {
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: var(--size-2) var(--size-3);
}
@media only screen and (min-width: 769px) {
.main-header__menu-link {
    padding: var(--size-4) var(--size-5);
}
  }
.main-header__menu-link--active {
  font-weight: bold;
}
.main-header__menu-link:hover {
  text-decoration-line: underline;
  text-underline-offset: 0.25rem;
}
.main-header__icons {
  grid-area: icons;
  display: inline-flex;
  gap: 1rem;
  margin-left: auto;
}
.page-width,
[data-page-width] {
  padding-left: var(--page-width-padding);
  padding-right: var(--page-width-padding);
  max-width: var(--page-width);
  margin: 0 auto;
}
.page-padding {
  padding-top: var(--size-10);
  padding-bottom: var(--size-10);
}
@media only screen and (min-width: 769px) {
.page-padding {
    padding-top: var(--size-16);
    padding-bottom: var(--size-16);
}
  }
.page-empty {
  display: grid;
  place-items: center;
  gap: var(--size-6);
}
@media only screen and (max-width: 768px) {
  .page-width--flush-small {
    padding: 0;
  }
}
table {
  border-collapse: collapse;
  text-indent: 0;
}
table thead {
  display: none;
}
@media only screen and (min-width: 769px) {
table thead {
    display: table-header-group;
}
  }
table th {
  border-style: solid;
  border-width: 0;
  border-color: rgba(var(--color-foreground) / 0.1);
  text-align: left;
  border-bottom-width: 1px;
  padding-top: var(--size-3);
  padding-bottom: var(--size-3);
}
table tbody td:last-child {
  font-size: var(--size-4);
}
@media only screen and (max-width: 768px) {
table tbody td:last-child {
    display: none;
}
  }
@media only screen and (min-width: 769px) {
  table thead th:last-child,
  table tbody td:last-child {
    text-align: right;
  }
}
@media only screen and (max-width: 768px) {
  table tbody td:nth-child(2) {
    display: none;
  }
}
table tr td {
  padding-top: var(--size-4);
  padding-bottom: var(--size-4);
}
@media only screen and (min-width: 769px) {
table tr td {
    padding-right: var(--size-4);
}
  }
table tr td:last-child {
  padding-right: 0;
}
@media only screen and (min-width: 769px) {
table td:first-child {
    width: 60%;
}
  }
table td {
  padding-bottom: var(--size-6);
}
.main-cart {
  display: grid;
  gap: var(--size-8);
  font-size: 0.875rem;
  padding-bottom: var(--size-16);
}
@media only screen and (min-width: 1024px) {
.main-cart {
    gap: var(--size-10);
    grid-template-columns: 62.5% 1fr;
    align-items: start;
}
  }
.cart-blocks {
  background-color: rgba(var(--color-foreground) / 0.03);
  padding: var(--size-8) var(--size-6);
}
.cart-blocks__form {
  display: grid;
  gap: var(--size-4);
}
.main-product {
  display: grid;
  width: 100%;
  gap: var(--size-8);
}
@media only screen and (min-width: 769px) {
.main-product {
    gap: var(--size-10);
    grid-template-columns: 60% 1fr;
    padding-top: var(--size-16);
}
  }
@media only screen and (min-width: 769px) {
.main-product[data-image-position='right'] {
      grid-template-columns: 1fr 60%;
  }
    }
.main-product__media-gallery {
  display: grid;
  width: 100%;
}
.main-product__info {
  padding: var(--size-7) var(--size-5);
  display: flex;
  flex-direction: column;
  gap: var(--size-6);
  position: sticky;
  top: 0;
  align-self: flex-start;
}
@media only screen and (min-width: 769px) {
.main-product__info {
    padding: var(--size-12) 0 var(--size-10) 0;
    gap: var(--size-8);
}
  }
[data-image-position='right'] .main-product__info {
    order: -1;
  }
.aspect-ratio--4-3 {
  aspect-ratio: 4 / 3;
}
.aspect-ratio--16-9 {
  aspect-ratio: 16 / 9;
}
.aspect-ratio--portrait {
  aspect-ratio: 3 / 4;
}
.aspect-ratio--landscape {
  aspect-ratio: 4 / 3;
}
.aspect-ratio--square {
  aspect-ratio: 1 / 1;
}
div:has(.placeholder-svg) {
  position: relative;
  background-color: rgba(var(--color-foreground) / 0.02);
  fill: rgba(var(--color-foreground) / 0.5);
}
.placeholder-svg {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  translate: -50%;
  object-fit: cover;
}
.relative {
  position: relative;
}
.text-left,
[data-text='left'] {
  text-align: left;
}
.text-center,
[data-text='center'] {
  text-align: center;
}
.text-right,
[data-text='right'] {
  text-align: right;
}
.justify-top,
[data-justify='top'] {
  justify-content: flex-start;
}
.justify-center,
[data-justify='center'] {
  justify-content: center;
}
.justify-bottom,
[data-justify='bottom'] {
  justify-content: flex-end;
}
.shopify-model-viewer-ui,
.shopify-model-viewer-ui model-viewer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.media-with-text {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 769px) {
.media-with-text {
    display: grid;
    justify-content: space-between;
}

    .media-with-text[data-page-width] {
      padding-top: var(--page-width-padding);
      padding-bottom: var(--page-width-padding);
    }
  }
.media-with-text[data-media-width='33'],
.media-with-text[data-media-width='66'][data-media-layout='left'] {
  grid-template-columns: 2fr 1fr;
}
.media-with-text[data-media-width='50'] {
  grid-template-columns: 1fr 1fr;
}
.media-with-text[data-media-width='66'],
.media-with-text[data-media-width='33'][data-media-layout='left'] {
  grid-template-columns: 1fr 2fr;
}
.media-with-text:not(.page-width) .media-with-text__media {
  width: 100%;
}
@media only screen and (max-width: 768px) {
    .media-with-text.page-width[data-media-width='33'] .media-with-text__media {
      width: 50%;
    }

    .media-with-text.page-width[data-media-width='50'] .media-with-text__media {
      width: 75%;
    }
  }
.media-with-text__text {
  display: flex;
  flex-direction: column;
  padding: var(--size-7-5) var(--size-5);
}
@media only screen and (max-width: 768px) {
.media-with-text__text {
    order: 1;
}

    .media-with-text:has(.media-with-text__text[data-text='center']) {
      align-items: center;
    }

    .media-with-text:has(.media-with-text__text[data-text='right']) {
      align-items: end;
    }
  }
@media only screen and (min-width: 769px) {
.media-with-text__text {
    padding: var(--size-7-5) var(--size-14);
}
  }
[data-media-layout='left'] .media-with-text__text {
    order: 1;
  }
.media-with-text__media {
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .media-with-text.page-width .media-with-text__media {
      padding-top: var(--size-5);
    }
  }
.variant-button {
  --label-bottom-margin: var(--size-3);

  border: 0;
  padding: 0;
  margin: 0 0 calc(var(--label-bottom-margin) * -1);
  position: relative;
}
.variant-button label {
    font: inherit;
    position: relative;
    display: inline-flex;
    justify-content: center;
    font-weight: normal;
    padding: var(--size-2) var(--size-3);
    margin: 0 var(--size-2) var(--size-3) 0;
    min-width: var(--size-10);
    box-shadow: 0 0 0 1px rgba(var(--color-foreground) / 0.2);
    font-size: var(--size-4);
    border-radius: 1px;
    overflow: hidden;
  }
.variant-button label.color-swatch {
      padding: 0;
    }
[data-center-text='true'] .variant-button label {
      margin: 0 4px var(--label-bottom-margin);
    }
.variant-button input[type='radio']:focus + label {
    box-shadow: 0 0 0 1px #1c1d1d;
    outline: 2px auto Highlight;
    outline: 2px auto -webkit-focus-ring-color;
    outline-offset: 1px;
  }
.variant-button input[type='radio']:checked + label {
    box-shadow: 0 0 0 2px #1c1d1d;
  }
.variant-button input[type='radio'][data-disabled] + label,
  .variant-button input[type='checkbox'][data-disabled] + label {
    color: rgba(var(--color-foreground) / 0.2);
  }
.variant-button input[type='radio'][data-disabled] + label:after, .variant-button input[type='checkbox'][data-disabled] + label:after {
      position: absolute;
      content: '';
      left: 50%;
      top: 0;
      bottom: 0;
      border-left: 2px solid;
      border-color: rgba(var(--color-foreground) / 0.2);
      transform: rotate(45deg);
    }
.variant-button__label {
  padding: 0;
  display: block;
  margin-bottom: var(--size-2);
  cursor: default;
  font-size: var(--size-3-5);
}
.select {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid currentColor;
}
.select select {
    padding: var(--size-2) calc(var(--size-3) + var(--size-3-5)) var(--size-2) var(--size-3);
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
            appearance: none;
  }
.select .icon--caret {
    position: absolute;
    top: 50%;
    right: var(--size-3-5);
    display: block;
    width: var(--size-3-5);
    height: var(--size-3);
    transform: translate(50%, -50%);
    stroke-width: 0.05;
  }
