.main-cart {
  display: grid;
  gap: var(--size-8);
  font-size: 0.875rem;
  padding-block-end: var(--size-16);

  @media only screen and (min-width: 1024px) {
    gap: var(--size-10);
    grid-template-columns: 62.5% 1fr;
    align-items: start;
  }
}

.cart-blocks {
  background-color: rgba(var(--color-foreground) / 0.03);
  padding: var(--size-8) var(--size-6);
}

.cart-blocks__form {
  display: grid;
  gap: var(--size-4);
}
