.page-width,
[data-page-width] {
  padding-inline: var(--page-width-padding);
  max-width: var(--page-width);
  margin: 0 auto;
}

.page-padding {
  padding-block-start: var(--size-10);
  padding-block-end: var(--size-10);

  @media only screen and (min-width: 769px) {
    padding-block-start: var(--size-16);
    padding-block-end: var(--size-16);
  }
}

.page-empty {
  display: grid;
  place-items: center;
  gap: var(--size-6);
}

@media only screen and (max-width: 768px) {
  .page-width--flush-small {
    padding: 0;
  }
}
