@import '../../styles/layout/breakpoints.css';
@import '../../styles/modules/button.css';

.block-buy-buttons {
  display: block;

  .shopify-payment-button {
    margin-top: var(--size-3);

    @media (--medium-up) {
      margin-top: var(--size-5);
    }
  }

  .shopify-payment-button__button {
    font: inherit;
    border-radius: 4px;
    overflow: hidden;
    min-height: 57.7px;
  }
}

.block-buy-buttons__submit {
  &.button {
    width: 100%;
    justify-content: center;
  }
}

.block-buy-buttons__submit[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
