.select {
  position: relative;
  width: fit-content;
  border: 1px solid currentColor;

  select {
    padding: var(--size-2) calc(var(--size-3) + var(--size-3-5)) var(--size-2) var(--size-3);
    border: none;
    background-color: transparent;
    appearance: none;
  }

  .icon--caret {
    position: absolute;
    top: 50%;
    right: var(--size-3-5);
    display: block;
    width: var(--size-3-5);
    height: var(--size-3);
    transform: translate(50%, -50%);
    stroke-width: 0.05;
  }
}
