.line-item__image {
  position: relative;
  width: 100px;
  height: auto;
}

.line-item {
  display: flex;
  gap: var(--size-8);
  align-items: start;

  @media (--medium-up) {
    align-items: center;
  }
}

.line-item__info {
  display: grid;
  justify-items: start;
}

.line-item__title {
  font-size: 1.125rem;
}

.line-item__variants {
  margin-top: var(--size-3);
  font-size: 0.75rem;
}
