{% comment %}
  Renders the product description

  Accepts:
  - product {product} - Product object

  Usage:
  {% render 'product-description' %}
{% endcomment %}

{%- liquid
  assign description = 'info.placeholder_product_description' | t

  unless product.empty?
    assign description = product.description
  endunless
-%}

<div class="rte clearfix">
  {{- description -}}
</div>
